html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

header {
	height: 60px;
	background-color: #e9eaed;
}

#wrap {
	min-height: calc(100% - 120px);
}

footer {
	height: 60px;
	padding: 0px;
}

